<p id="notice"><%= notice %></p>

<table class='table table-striped'>
<thead>
  <tr>
    <th>Company</th>
  </tr>
  </thead>

  <tbody>
      <tr><td><%= @company.name %></td></tr>
  </tbody>
</table>

<table class='table table-striped'>
<thead>
  <tr>
    <th>Location</th>
  </tr>
  </thead>

  <tbody>
    <% @company.locations.each do |location| %>
      <tr><td><%= location.name %></td></tr>
    <% end %>
  </tbody>
</table>

<table class='table table-striped'>
<thead>
  <tr>
    <th>Courses</th>
  </tr>
  </thead>

  <tbody>
    <% @company.courses(@location).each do |course| %>
      <tr><td><%= course.title %></td></tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
