<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Locations:</strong>
  <% @company.locations.each do |location| %>
   <%= location.name %>
  <% end %>
</p>

    <p>
      <strong>Courses:</strong>
        <% @company.courses(@location).each do |course| %>
         <%= course.title %>
        <% end %>
    </p>

<p>
  <strong>Employees:</strong>
  <% @company.employees.each do |employee| %>
    <%= employee.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
