<p id="notice"><%= notice %></p>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Company</th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= @location.company.name %></td>
      </tr>

  </tbody>
</table>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Courses</th>
    </tr>
  </thead>

  <tbody>
    <% @location.courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
